.blog {
  &-title {
    margin-bottom: 46px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    position: relative;
    max-width: 380px;
  }

  &__date-overlay {
    position: absolute;
    top: 160px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60px;
    height: 70px;
    color: $color-main-white;
    background-color: $color-subscribe-btn;
  }

  &__date {
    text-align: center;

    font-weight: $bold-text;
    font-size: 30px;
  }
  &__month {
    font-family: $second-font;
    font-weight: $light-italic-text;
    text-align: center;
  }

  &__img {
    margin-bottom: 18px;
  }

  &__list-title {
    margin-bottom: 14px;
  }

  &__list-text::after {
    @extend %pseudo;
    width: 380px;
    height: 1px;
    background-color: $color-footer-border;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
  }

  &__icon {
    margin-right: 8px;
    fill: $color-subscribe-btn;
  }

  &__icon-numb {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
