.team {
  &__title {
    margin-bottom: 44px;
  }

  &-subtitle {
    text-align: center;
    margin-bottom: 90px;
    max-width: 960px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;
  }

  &__item:not(:nth-of-type(3n)) {
    margin-right: 30px;
  }

  &__item-title {
    margin-bottom: 12px;
    text-align: center;
  }

  &__item-subtitle {
    font-weight: $light-italic-text;
    font-style: italic;
    text-align: center;
  }
}
